<app-navbar></app-navbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>






<div class="container backgrnd my-3">

        <div class="row">
          <div class="col-4">
            <div class="card my-3">
              <div class="card-header bg-silver">
                <img src="./assets/kfc.jpg" alt="logo" class="card-img-top">
              </div>
              <div class="card-body">
                <p><b>K.F.C&nbsp;</b></p>
                <p> &#9733; &#9733; &#9733; &#9733; &#10025; <b>4/5</b></p>
               
                <p>OFFER- ₹ 400 FOR TWO &nbsp;</p>
                <p>Biryani, Burgers, American, Snaks</p>
              </div>
              <div class="card-footer d-grid">
                <button class="btn text-warning btn-outline-dark" (click)="ordernow()" routerLink="menu">ORDER NOW</button>
              </div>
            </div>
          </div><br>

          <div class="col-4">
            <div class="card my-3">
              <div class="card-header bg-silver">
                <img src="./assets/bavarchi.webp" alt="logo" class="card-img-top">
              </div>
              <div class="card-body">
                <p><b>Bawarchi&nbsp;</b></p>
                <p> &#9733; &#9733; &#9733; &#9733; &#10025; <b>4/5</b></p>
               
                <p>OFFER- ₹ 300 FOR TWO &nbsp;</p>
                <p>Biryani, Tandoori, Fried Rice, Veg Biryani</p>
              </div>
              <div class="card-footer d-grid">
                <button class="btn text-warning btn-outline-dark" (click)="ordernow()" routerLink="menu">ORDER NOW</button>
              </div>
            </div>
          </div><br>

          <div class="col-4">
            <div class="card my-3">
              <div class="card-header bg-silver">
                <img src="./assets/grand.webp" alt="logo" class="card-img-top">
              </div>
              <div class="card-body">
                <p><b>Grand Hotel&nbsp;</b></p>
                <p> &#9733; &#9733; &#9733; &#10025; &#10025; <b>3/5</b></p>
               
                <p>OFFER- ₹ 400 FOR TWO &nbsp;</p>
                <p>Biryani, Burgers, Fried Rice, Veg Biryani</p>
              </div>
              <div class="card-footer d-grid">
                <button class="btn text-warning btn-outline-dark " (click)="ordernow()" routerLink="menu">ORDER NOW</button>
              </div>
            </div>
          </div><br>

          <div class="col-4">
            <div class="card my-3">
              <div class="card-header bg-silver">
                <img src="./assets/rice.webp" alt="logo" class="card-img-top">
              </div>
              <div class="card-body">
                <p><b>Rice Bowl&nbsp;</b></p>
                <p> &#9733; &#9733; &#9733; &#10025; &#10025; <b>3/5</b></p>
               
                <p>OFFER- ₹ 340 FOR TWO &nbsp;</p>
                <p>North Indian, South Indian Specials</p>
              </div>
              <div class="card-footer d-grid">
                <button class="btn text-warning btn-outline-dark " (click)="ordernow()" routerLink="menu">ORDER NOW</button>
              </div>
            </div>
          </div><br>

          <div class="col-4">
            <div class="card my-3">
              <div class="card-header bg-silver">
                <img src="./assets/leon's.webp" alt="logo" class="card-img-top">
              </div>
              <div class="card-body">
                <p><b>Leon's Burgers & Wings (Leon Grill)&nbsp;</b></p>
                <p> &#9733; &#9733; &#9733; &#10025; &#10025; <b>3/5</b></p>
               
                <p>OFFER- ₹ 160 FOR TWO &nbsp;</p>
                <p>American,Turkish, Portuguese, Continental</p>
              </div>
              <div class="card-footer d-grid">
                <button class="btn text-warning btn-outline-dark " (click)="ordernow()" routerLink="menu">ORDER NOW</button>
              </div>
            </div>
          </div><br>

          <div class="col-4">
            <div class="card my-3">
              <div class="card-header bg-silver">
                <img src="./assets/pizza.webp" alt="logo" class="card-img-top">
              </div>
              <div class="card-body">
                <p><b>Domino's Pizza&nbsp;</b></p>
                <p> &#9733; &#9733; &#9733; &#9733; &#10025; <b>4/5</b></p>
               
                <p>OFFER- ₹ 200 FOR TWO &nbsp;</p>
                <p>Pizzas</p>
              </div>
              <div class="card-footer d-grid">
                <button class="btn text-warning btn-outline-dark " (click)="ordernow()" routerLink="menu">ORDER NOW</button>
              </div>
            </div>
          </div><br>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
