
<div>
   <app-navbar></app-navbar> 
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</div><br>

<div class="container">


    <!-- below is using card-group -->
    <!--  
    <div class="card-group">
        <div class="card mx-3" *ngFor ="let val of orders; index as i">
          <img src="assets/kfc.jpg" class="card-img-top" alt="..." >
            <div class="card-body">
                <h5 class="card-title"><b>Hotel :</b>  {{orders[i]['0']}}</h5>
                <p class="card-text"> <b>ItemName :</b>  {{orders[i]['1'].itemName}}</p>
                <p class="card-text"> <b>Type :</b> {{orders[i]['1'].itemtype}}</p>
                <p class="card-text"> <b>Amount :</b> {{orders[i]['2']}}</p>      
            </div>
        </div> 
    </div>-->


    <!-- below is row col cards -->
<!--  
 <div >
    <div class="row" >

        <div >
                <div class="card mb-3 mx-3" style="max-width: 540px;" *ngFor="let val of orders; index as i">
                <div class="row g-0" >
                    <div class="col-md-4">
                    <img src="assets/kfc.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{orders[i]['0']}}</h5>
                        <p class="card-text">{{orders[i]['1'].itemName}}</p>
                        <p class="card-text">{{orders[i]['1'].itemtype}}</p>
                        <p class="card-text">{{orders[i]['2']}}</p>
                    </div>
                    </div>
                </div>
                </div>
        </div>




    </div> -->



    <!-- below using plain css -->

    <div class="flex-container">
        <div *ngFor="let val of orders; index as i">
        <div class="card m-3 border border-primary" style="width: 18rem;">
            <img src="assets/kfc.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{orders[i]['0']}} </h5>
                <p class="card-text"> <b>Item Name : </b>{{orders[i]['1'].itemName}} </p>
                <p class="card-text"> <b>Item-type : </b>{{orders[i]['1'].itemtype}} </p>
                <p class="card-text"> <b>Amount : </b>₹.{{orders[i]['2']}} </p>
            </div>
        </div><br>
        </div>
        
          
    </div>
 </div>   

    

